<!--The dashboard can include summary cards for quick access to various sections, like product and user managemant.-->

<div class="dashboard">
    <h2>Admin Dashboard</h2>

    <!--Summary Cards Section-->
    <div class="card" routerLink = "/dashboard/product">
        <h3>Products</h3>
        <p>Manage all products, add new products and also delete and edit existing products </p>
        <button>Go to Products</button>
    </div>

    <div class="card" routerLink = "/dashboard/user">
        <h3>Users</h3>
        <p>View and manage registered users.</p>
        <button>Go to Products</button>
    </div>
</div>
